body {
    width:800px;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
}

.container {
    border: 2px solid black;
    padding: 30px;
}

.top-info {
    border:1px solid gray;
    padding:10px;
    color:#cc0000;

}

td label {
    padding:20px;
}

form  {
    padding-bottom:50px;
}

.summary {
    border: 2px solid black;
    padding: 30px;
}

