@model IEnumerable<VidPlace.Models.Media>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medias List</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr><th>Media</th></tr>
    </thead>
    <tbody>
        @foreach (var media in Model)
        {
            <tr>
                <td>@media.Name</td>
            </tr>
        }
    </tbody>
</table>

