@model IEnumerable<VidPlace.Models.Media>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medias List</h2>

@Html.ActionLink("New Media", "New", "Media", null, new { @class = "btn btn-primary", style="margin-bottom:20px" })

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Media</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var media in Model)
        {
            <tr>
                <td>@Html.ActionLink(@media.Name, "Edit", "Media", new { id = media.ID }, null)</td>
                <td>@media.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>

