@model IEnumerable<VidPlace.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>There are no customers available.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer's Name</th>
                <th>Membership Type</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.ID }, null)</td>
                    <td>@customer.Membership.Name</td>
                </tr>
            }
        </tbody>
    </table>
}