@charset "utf-8";

/* base.css */
/* CSS document for CSS Media Queries Web page */
/* Script Date: Octorber 13, 2017 */
/* Developed by : Suim Park */

body {
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#eefeef;
    color:#000;
}

#container {
    width: 980px;
    margin: 0 auto;
    /*background-color: #b4c4ba;
     background image will be moved to the desktop.css file 
    background-repeat: repeat;*/
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

#nav ul {
    list-style-type:none;
    margin:0 auto 15px 35px;
    padding:0;
    font-size:17px;
    height:45px;
}

#nav ul li {
    float:left;
    margin:0 2px;
}

#nav ul li a {
    display:block;
    width:160px;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:white;
    background-color:#003;
    border-radius:8px;
    box-shadow:2px 2px 3px #999;
}

#nav ul li a:link {
    color:white;
    background-color:#003;
}

#nav ul li a:visited {
    color: purple;
    background-color: #003;
}

#nav ul li a:hover {
    color: #003;
    background-color:white;
}

#nav ul li a:active {
    color: #003;
    background-color: #ff0;
}