@charset "utf-8";

/* tablet.css */
/* CSS document for CSS Media Queries Web page */
/* Script Date: Octorber 13, 2017 */
/* Developed by : Suim Park */

#container {
    width:100%;
    /*
    background-image: url("../../images/nature_tablet.jpg");
    background-size:contain;*/
    background-color:#f3f372;
}

#header h1 {
    font-size:18px;
    margin-bottom:0;
    padding-top:10px;
    padding-left:0;
    text-align:center;
}

#nav ul {
    width:660px;
    margin-right:auto;
    margin-left:auto;
}

#nav ul li a {
    width:120px;
    padding:10px 5px;
    font-size:15px;
}
