@charset "utf-8";

/* list-tablet.css*/
/* CSS document for Tourism Travel Blog */
/* Script Date: Octorber 12, 2017 */
/*Developed by Roman Shaiko, Suim Park, Dmitrii Kudrik*/


/* styling for top image and text */
.list-top img{
    width:100%;
}

.list-top-text {
    font-size: 15px;
    width: 300px;
}


.list-top-text a:hover {
    font-size: 20px;
}

/* styling for each title in the list */
.list-lists {
    width:100%;
    margin:0 auto;
}
    
.list-lists > div a {
    text-decoration: none;
}

/* styling for the fonts */
.font-date {
    color: #999;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: lighter;
    font-size: medium;
    font-variant: small-caps;
}

.font-list-title {
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-weight: 600;
    font-size: large;
}

.font-list-contents {
    color: black;
    font-size: medium;
    font-weight: 400;
}

.font-advertising-title {
    font-weight: 600;
}

.go-top {
    width: 20px;
    margin: auto 30px auto auto;
}

    .go-top img {
        width: 20px;
    }