@charset "utf-8";

#Mcontainer {
    margin: 0 auto;
    width: 100%;
}
#left_col, #right_col {
    width: 39%;
}
#cube{
    width: 80%;
    padding-left: 10%;
    padding-top:30px;
}

label {
    border-radius: 7px;
    padding: 7px;
    float: left;
    text-align: center;
    margin-right: 4px;
}