/* CSS Document for the Alice on Wonderland Web Page */
/* Developed by: Suim Park */
/* Script Date: October 5, 2017 */
@charset "utf-8";

#container {
    width:80%;
    margin:0 auto;
    border:10px inset #f0f;
    padding:8px;
    background:white;
}


body {
    font: 12px cursive;
    color: black;
    background-color:#fafad2;
}


/* Styling the docTitle Independent Class */
.docTitle {
    font-size: 2em;
    color: #00f;
    background: #fff;
    word-spacing: 10px;
}

/* Styling the author  Class */
.author {
    letter-spacing:10px;
    border-bottom:1px solid #00f;
    padding-bottom:12px;
}

/* Styling the chapterNumber Class */
.chapterNumber {
    color:black;
    background:#ccc;
    display:inline-block;
}

/* Styling the chapterTitle Class */
.chapterTitle {
    color:black;

}

/* styling the introduction Class using the pseudo-element first-line */
.introduction::first-line {
    color:#ff6a00;
    text-transform:uppercase;
}

/* styling the firstLetter class using the pseudo-element */
.firstLetter::first-letter {
    color:#00f;
    background:yellow;
    font:2em 'Old English Text MT';
    font-weight:bold;
    border:3px solid #000080;
    padding:1px;
}

/* styling thedescendant em selector inside p selector */
p em {
    color:#00f;
    background:#cabcf2; /* lavender */
}

/* styling the copyright class */
.copyright {
    color:darkgreen;
    background-color:#cabcf2;
}

/* Generic classes */
.leftAlign {
    text-align:left;
}

.rightAlign {
    text-align:right;
}

.centerAlign{
    text-align:center;
}

/* Styling the ID-nav */
#nav {
    background: black;
    line-height:200%;
    display:block;
}
#nav a {
    color:white;
    font-weight:bold;
}

#nav ul li {
    list-style-type:none;
    display:inline;
    padding-right:40px;
}

/* styling the nav using the pseudo-classes link, visited, active, and hover */
#nav ul li a:link {
    color:white;
    text-decoration:none;
}

#nav ul li a:visited {
    color:#ff3e00;
}

#nav ul li a:hover {
    color:#ccc;
    text-decoration:underline overline;
}

#nav ul li a:active {
    text-decoration:none;
    color:blue;
    background-color:#add8ef;
}


#header img {
    width:12%;
    height:12%;
}

#picture_box1, #picture_box2, #picture_box3 {
    border: 2px solid darkgreen;
    padding: 10px;
    margin: auto auto;
}
#picture_box1 {
    width: 106px;
    height: 159px;
}

#picture_box2 {
    width: 213px;
    height: 202px;
}

#picture_box3 {
    
    width: 100px;
    height: 148px;
}

/*
.small_quat_mark::before {
    content: "'";
}

.small_quat_mark::after {
    content: "'";
}
*/
.small_quat_mark {
    font-style:italic;
    font-size:13px;
}

.upperCase {
    text-transform: uppercase;
}


#astrics_1_3, #astrics_2 {
    text-indent: 25px;
    letter-spacing: 50px;
}

#astrics_2 {
    text-indent:50px;
}