@charset "utf-8";
/*CSS document for the header of Tourism Travel Blog Web Site*/
/*Developed by Roman Shaiko, Suim Park, Dmitrii Kudrik*/
/*Script date: October 13, 2017*/

#header {
    width: 100%;
    font-size: 13px;
}

#contactM {
    margin: 0;
    padding: 0;
    display: none;
}
/*
#search button {
    display:none;
}*/
#slogan p {
    margin: 0 10px;
}

#search {
    margin: 0 15px;
    padding: 10px 0 0 0;
    float: right;
}
#search input {
    font-size:12px;
}
#logoDesktop {
    display: none;
}
#logoPhone {
    display: none;
}
#logo {
    margin: 5px auto 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
}

    #logo img {
        width: 99%;
    }

.sub-list {
    position: absolute;
    left: -9999px;
}

#menuPhone, #smallLogo {
    display: none;
}
#nav {
    margin: 0 25px 12px 0;
    padding: 0;
    width: 100%;
    height: auto;
}

    #nav ul {
        padding: 0 15px;
    }
        #nav ul li:not([class="activeButton"]) {
            margin: 0 2px;
            border-radius: 8px;
            line-height: 38px;
            box-shadow: 4px 4px 4px rgb(180,180,180);
            font-weight: 600;
            text-shadow: 5px 3px 3px #ccc;
            font-size:13px;
        }

.activeButton {
    margin: 0 2px;
    border-radius: 8px;
    line-height: 38px;
    box-shadow: 0 15px 2px #bbb;
    font-weight: 900;
    text-shadow: 5px 3px 3px #ccc;
    font-size: 13px;
}
#nav ul li a:active {
    font-size: 1.1em;
}

/*setting the width of the buttons*/
#nav ul li:nth-child(1){
    display:none;
}
#nav ul li:nth-child(-n+4):nth-child(n+1) {
    width:18%;
}

#nav ul li:nth-child(-n+6):nth-child(n+5) {
    width: 18%;
}

#nav ul li:nth-last-child(-n+3){
    display:none;
 }