@charset "utf-8";

/* list-desktop.css*/
/* CSS document for Tourism Travel Blog */
/* Script Date: Octorber 12, 2017 */
/*Developed by Roman Shaiko, Suim Park, Dmitrii Kudrik*/

.list-main {
    max-width:872px;
}

/* styling for top image and text */

.list-top-text {
    font-size: 20px;
    width: 300px;
}



.list-top-text a:hover {
    font-size: 30px;
    text-align:center;
}


/* styling for each title in the list */

.font-date {
    color: #999;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: lighter;
    font-size: medium;
    font-variant: small-caps;
}

.font-list-title {
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-weight: 600;
    font-size:large;
}

.font-list-contents {
    color: black;
    font-size:medium;
    font-weight:400;
}

.font-advertising-title {
    font-weight: 600;
}

