@model UploadImage.Controllers.ImageFile
@{
    ViewBag.Title = "UploadImage";
}


<h2>UploadImage</h2>
<style>
    .dynamicimg {
        height: 100px;
        margin: 10px;
    }
</style>
@using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" id="files" name="files" onchange="loadFile(event)" multiple />
    </div>
    <div class="form-group">
        <input type="submit" name="upload" value="Upload" />
    </div>

    <div class="form-group">
        <div id="dynamicImage">

        </div>
    </div>
}

<script>
    var loadFile = function (event) {
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            $("#dynamicImage").append("<img src='" + URL.createObjectURL(event.target.files[i]) + "' class='dynamicimg' /><br/>");
        }
    }
</script>