@charset "utf-8";
/*CSS document for Tourism Travel Blog, Layout #3*/
/*Developed by Roman Shaiko, Suim Park, Dmitrii Kudrik*/
/*Script date: October 13, 2017*/

#main {
    width: 980px;
    margin: 0 auto;
}

#article {
    width: 57%;
}
#comment_container {
    margin: auto;
    padding: 10px 10px;
    width: 400px;
    text-align: left;
}
#comment_form fieldset {
    width: auto;
    border-radius: 15px;
}

#LogoPic {
    display:none;
}