@charset "utf-8";

/* list-base.css*/
/* CSS document for Tourism Travel Blog */
/* Script Date: Octorber 12, 2017 */
/*Developed by Roman Shaiko, Suim Park, Dmitrii Kudrik*/

/* styling for top image and text */
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}


.list-main {
    width: 90%;
    margin: 10px auto auto auto;
    font-family: 'Open Sans', sans-serif;
}

.list-top {
    position:relative;
    /*
    top:8px;
    right:16px;*/
    margin:8px auto;
}

.list-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.list-top-image img {
    width: 100%;
}

.list-top-text a {
    text-decoration: none;
    color:white;
}

.list-lists > div {
    height: auto;
    margin:auto;
    background-color: white;
}

/* styling for each title in the list */
.list-image img {
    width: 100%;
}

.list-lists > div a {
    text-decoration: none;
}

.list-lists > div {
    border-bottom: 5px solid #aaa;
}

.list-lists > div:last-child {
    border:none;
}

.list-image {
    width:280px;
    height:auto;
    margin:0 auto;
}


.general-texts {
    font-size:medium;
    line-height:32px;
    padding:5px;
}

.general-texts p {
    text-indent:20px;
}

.move-page table {
    margin: 0 auto;
    font-size: 0.7em;
}

.move-page table td {
    padding-right: 10px;
}

.move-page table td a {
    color:black;
}
    
.move-page img {
    width: 20px;
    height: auto;
}

.contact-main form {
    width: 340px;
    height: auto;
    margin: 0 auto 30px auto;
}


.contact-main form input[type=text],
.contact-main form input[type=email],
.contact-main form textarea,
.contact-main form select {
    width: 100%;
}

.contact-main form input[type=submit],
.contact-main form input[type=reset] {
    width:167px;
}

