@using VidPlace.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getCustomer</title>
</head>
<body>
    @Html.Partial("_NavBar")
    <div> 
        <!--<h2>@(((Customer) ViewData["customer"]).Name)</h2>-->
        <h2>@(((Customer)ViewBag.customer).Name)</h2>
    </div>
</body>
</html>
